<div class="container">
  <header>
    <h3 class="title">{{model.name}}</h3>
    <div class="row">
      <div class="totalSold">Total Sold: {{model.totalSold}}</div>
    </div>
  </header>
  {{collection-list model=model.comments class="comments"}}
</div>
