<h2 id="title" class="center-align">Media Catalog</h2>
<div>
  <div class="row">
    <div class="sidebar col s2">
      <h2>Artists</h2>
      {{collection-list model=model item-detail=artist-detail class="artists"}}
    </div>
    <div class="content col s10">
      <div class="left">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
